.main{
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-banner{
  width: 100%;
  height: 160px;
  background-color: black;
  text-align: center;
}
.header-img{
  height: 100%;
  margin: 0 auto;
}
.App {
  text-align: center;
  margin: 0 auto;
}

.nav-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 70px;
  background-color: rgb(222, 232, 81);
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul{
  list-style: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
